
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styles et clesses css </title>
    <script src="../vue.global.js"></script>
    <link rel="stylesheet" href="css/exo.css">

</head>
<body>
    <h1>Styles et clesses css </h1>
    <div id="app">
        <form  @submit="addTab" >
      <fieldset>
       <legend>To do list</legend>
       <label for="toDoList">Taches</label>
       <input  type="text" name="toDoList" id="toDoList">
       <input type="submit" name="" id="sub" value="valider" >
        </fieldset>
       
      <h4>Liste </h4>
        <p v-if="taches.length < 1">Aucune taches disponible</p>
        <ul v-else>
           <li v-for="tache of taches "  v-bind:class="{text}">
               {{tache}}
           </li>
       </ul>
      
     
   
</form>
       
    </div>
    <script>
        let app = Vue.createApp({
            data: function(){
                return {
                   taches: [],
                  
                    text: true
              
                };
               
            },
            methods:{
                addTab(e){
                    e.preventDefault();
                    tache = e.target.toDoList.value
                    this.taches.push(tache)
                }
              
            }
        });
        app.mount("#app")
    </script>
</body>
</html>