<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vuejs</title>
        <script src="../vue.global.js"></script>
    </head>

    <body>
        <h1>Les propriétés calculées</h1>
        <div id="app">
            <p>Message: {{ message }}</p>
            <p>Inverse: {{ inverserMessage() }}</p>
            <p>Calculée: {{ inverserMessagecomputed }}</p>
            <!-- 
                le v-model permet de fait une liaison automatiquement
                sur l'attribut value et la variable message
                Et permet de mettre a jour la variable
                a chaque saisie
                Utilise:
                v-on:input  
                v-bind:value
             -->
            <input type="text" v-model="message">
            <input type="text" v-model="rienAVoir">
        </div>

        <script>
            let app = Vue.createApp({
                data: function() {
                    return {
                       message: 'Salut',
                       rienAVoir: ''
                    };
                },
                methods: {
                   inverserMessage() {
                    console.count('inverserMessage');
                    const tableau_lettre = this.message.split('');
                    // console.log(tableau_lettre);
                    const inverser_tableau = tableau_lettre.reverse();
                    // console.log(inverser_tableau);
                    const nouveau_message = tableau_lettre.join('');
                    // console.log(nouveau_message);
                    return nouveau_message;
                    // return this.message.split('').reverse().join('');
                   }
                },
                computed : {
                    inverserMessagecomputed() {
                    return this.message.split('').reverse().join('');
                   }
                }
            });
            let vm = app.mount("#app");
        </script>
    </body>
</html>